.button {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  font-family: inherit;

  background-color: var(--second-extra-bg-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  border: none;
  padding: 8px 20px;

  &:hover,
  &:focus-visible {
    background-color: var(--lighter-purple);
  }

  &:active {
    background-color: var(--darker-purple);
  }

  &:disabled {
    background-color: var(--disabled-bg-color);
  }
}
