.extra-button {
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  color: var(--extra-text-color);
  text-decoration: none;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  padding: 8px 20px;
  border: none;

  &:hover,
  &:focus-visible {
    color: var(--white);

    background-color: var(--lighter-purple);
  }

  &:active {
    color: var(--white);

    background-color: var(--darker-purple);
  }

  &:disabled {
    color: var(--white);

    cursor: not-allowed;

    background-color: var(--lighter-gray);
  }
}
