// Я выключил стайлинт, так как эти стили взяты из библиотеки noUIslider
/* stylelint-disable */
.price-slider__target,
.price-slider__target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.price-slider__target {
  position: relative;
}
.price-slider__base,
.price-slider__connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  cursor: pointer;
}
[disabled] .price-slider__base,
[disabled] .price-slider__connects {
  cursor: not-allowed;
}
/* Wrapper for all connect elements.
*/
.price-slider__connects {
  overflow: hidden;
  z-index: 0;
}
.price-slider__connect,
.price-slider__origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
/* Offset direction
*/
.price-slider__txt-dir-rtl.price-slider__horizontal .price-slider__origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
* connect elements.
*/
.price-slider__vertical .price-slider__origin {
  top: -100%;
  width: 0;
}
.price-slider__horizontal .price-slider__origin {
  height: 0;
}
.price-slider__handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.price-slider__touch-area {
  position: relative;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;

    display: none;

    background-color: rgba(120, 89, 207, 0.25);
    border-radius: 50%;

    width: 16px;
    height: 16px;

    content: "";
  }

  &:hover {
    &::before {
      display: block;
    }
  }

  height: 100%;
  width: 100%;
}
[disabled] .price-slider__touch-area {
  &::before {
    display: none !important;
  }
}
.price-slider__state-tap .price-slider__connect,
.price-slider__state-tap .price-slider__origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.price-slider__state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
*/
.price-slider__horizontal {
  height: 18px;
}
.price-slider__horizontal .price-slider__handle {
  width: 24px;
  height: 24px;
  right: -17px;
  top: -4px;

  outline: none;

  &:focus .price-slider__touch-area::before {
    display: block;
  }

  &:active .price-slider__touch-area::before {
    display: block;
    background-color: var(--purple);
  }
}

.price-slider__vertical {
  width: 18px;
}
.price-slider__vertical .price-slider__handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}
.price-slider__txt-dir-rtl.price-slider__horizontal .price-slider__handle {
  left: -17px;
  right: auto;
}
/* Styling;
* Giving the connect element a border radius causes issues with using transform: scale
*/
.price-slider__connects {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;

  background-color: var(--lighter-gray);

  height: 4px;
}
.price-slider__connect {
  background: var(--purple);
}
/* Handles and cursors;
*/
.price-slider__draggable {
  cursor: ew-resize;
}
.price-slider__vertical .price-slider__draggable {
  cursor: ns-resize;
}
.price-slider__handle {
  border: 2px solid var(--lighter-purple);
  border-radius: 50%;
  background: var(--white);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

[disabled] .price-slider__handle {
  border-color: var(--gray);
}
/* Handle stripes;
*/

.price-slider__handle:after {
  left: 17px;
}
.price-slider__vertical .price-slider__handle:before,
.price-slider__vertical .price-slider__handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.price-slider__vertical .price-slider__handle:after {
  top: 17px;
}
/* Disabled state;
*/
[disabled] .price-slider__connect {
  background: #B8B8B8;
}
[disabled].price-slider__target,
[disabled].price-slider__handle,
[disabled] .price-slider__handle {
  cursor: not-allowed;
}
/* Base;
*
*/
.price-slider__pips,
.price-slider__pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.price-slider__pips {
  position: absolute;
  color: #999;
}
/* Values;
*
*/
.price-slider__value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.price-slider__value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
*
*/
.price-slider__marker {
  position: absolute;
  background: #CCC;
}
.price-slider__marker-sub {
  background: #AAA;
}
.price-slider__marker-large {
  background: #AAA;
}
/* Horizontal layout;
*
*/
.price-slider__pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.price-slider__value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.price-slider__rtl .price-slider__value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.price-slider__marker-horizontal.price-slider__marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.price-slider__marker-horizontal.price-slider__marker-sub {
  height: 10px;
}
.price-slider__marker-horizontal.price-slider__marker-large {
  height: 15px;
}
/* Vertical layout;
*
*/
.price-slider__pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.price-slider__value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.price-slider__rtl .price-slider__value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.price-slider__marker-vertical.price-slider__marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.price-slider__marker-vertical.price-slider__marker-sub {
  width: 10px;
}
.price-slider__marker-vertical.price-slider__marker-large {
  width: 15px;
}
.price-slider__tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.price-slider__horizontal .price-slider__tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.price-slider__vertical .price-slider__tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.price-slider__horizontal .price-slider__origin > .price-slider__tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.price-slider__vertical .price-slider__origin > .price-slider__tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
