:root {
  // color
  --white: #ffffff;
  --gray: #bdbdbd;
  --dark: #333333;
  --purple: #7859cf;
  --lighter-purple: #9070ec;
  --darker-purple: #593cac;
  --lightest-lilac: #f0ebff;
  --lighter-gray: #e2e2e2;
  --lightest-gray: #f8f8f8;
  --flat-white: #f3ebe1;
  --lavender: #eae6fc;
  --espresso: #e5e6e8;

  --primary-text-color: var(--dark);
  --extra-text-color: var(--purple);
  --disabled-text-color: var(--gray);

  --primary-bg-color: var(--lightest-gray);
  --secondary-bg-color: var(--white);
  --first-extra-bg-color: var(--lightest-lilac);
  --second-extra-bg-color: var(--purple);
  --disabled-bg-color: var(--gray);

  // width
  --mobile-padding-left: 17px;
  --mobile-padding-right: 23px;
  --tablet-padding: 20px;
  --desktop-padding: 40px;
}

$tablet-width: 768px;
$desktop-width: 1440px;
