@use "../global/variables";

@mixin container {
  padding-left: var(--mobile-padding-left);
  padding-right: var(--mobile-padding-right);

  @media (min-width: variables.$tablet-width) {
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
  }
}
