/* GLOBAL */
@use "global/fonts";
@use "global/variables";
@use "global/global";

/* BLOCKS */
@use "blocks/badge";
@use "blocks/button";
@use "blocks/header";
@use "blocks/hero";
@use "blocks/benefits";
