/* GLOBAL */
@use "global/fonts";
@use "global/variables";
@use "global/global";

/* BLOCKS */
@use "blocks/badge";
@use "blocks/button";
@use "blocks/extra-button";
@use "blocks/header";
@use "blocks/hero";
@use "blocks/benefits";
@use "blocks/catalog";
@use "blocks/catalog-form";
@use "blocks/catalog-content";
@use "blocks/map";
